.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my styling */
.wrapper, ul {
	display: flex;
}
ul {
	justify-content: space-evenly;
	flex-wrap: wrap;
}
ul, li {
	list-style: none;
}
p {
	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
}
.found {
	background-color: red;
	color: white;
}
.undiscovered {
	background-color: black;
	color: lightgray;
}
.found2 {
	background-color: orange;
	color: white;
}
.undiscovered2 {
	background-color: grey;
	color: lightgray;
}
