.App {
  text-align: center;
}

.searchLogo {
  height: 20vmin;
  padding: 1%;
}

@media (prefers-reduced-motion: no-preference) {
  .searchLogo {
	animation: searchMove infinite 5s linear;
  }
}

@keyframes searchMove {
	0% {
		transform: rotate(-15deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);
	}
}


/* my styling */
.wrapper, ul {
	display: flex;
}
ul {
	justify-content: space-evenly;
	flex-wrap: wrap;
}
ul, li {
	list-style: none;
}
p {
	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
}
.found {
	background-color: green;
	color: white;
}
.undiscovered {
	background-color: black;
	color: lightgray;
}
.found2 {
	background-color: lime;
	color: white;
}
.undiscovered2 {
	background-color: grey;
	color: lightgray;
}
.inRoom {
	height: 40vh;
	background-image: url('./saladeestar.svg');
	background-size: cover;
	opacity: 0.5;
	border: 2px solid grey;
	border-radius: 50px;
}