html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL */
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 125%;
}
body {
	margin: 0 1%;
}
.App {
	text-align: center;
	background: whitesmoke;
	padding: 2% 0 0 0;
}
.foundit {
	display: flex;
	flex-direction: column;
	width: 31%;
	margin-left: 4%;
}
header {
	width: 35%;
}
h1 {
	font-size: 3rem;
	color: rgb(2, 109, 30);
	text-shadow: 1px 1px 1px rgb(121, 172, 121), 2px 2px 1px whitesmoke,3px 3px 1px rgb(175, 175, 175),
	4px 4px 1px rgb(80, 80, 80);
}
.wrapper, ul, .topBar, .information, .userData, .userData ul, form, .foundHigh, .undiscoveredHigh {
	display: flex;
}
form {
	flex-direction: column;
}
button {
	padding: 2%;
	margin: 2% 0;
}
.information {
	flex-direction: column;
	width: 65%;
}
.userData {
	width: 100%;
	align-items: flex-start;
}
.userData ul {
	flex-direction: row;
	padding: 0 3%;
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
ul {
	justify-content: space-evenly;
	flex-wrap: wrap;
}
ul, li {
	list-style: none;
	filter: drop-shadow(10px 10px 4px rgba(161, 161, 161, 0.445));
	opacity: 1;
	padding: 1%;
}
p {
	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
}
button {
	cursor: pointer;
}
/* CHANGING STYLES */
.found, .found2, .undiscovered, .undiscovered2, .currentUser, .foundHigh, .undiscoveredHigh {
	border: 2px solid darkgrey;
}
.found {
	background-color: rgb(2, 109, 30);
	color: white;
}
.undiscovered {
	background-color: lightgray;
	color: black;
}
.found2 {
	background-color: lime;
	color: black;
}
.undiscovered2 {
	background-color: grey;
	color: lightgray;
}
.found:hover {
	background-color: rgb(40, 117, 40);
	color:rgb(189, 255, 177);
	cursor: pointer;
}
.undiscovered:hover, .undiscovered2:hover {
	background-color: rgb(0, 255, 0);
	color:rgb(36, 36, 36);
	cursor: pointer;
}
.foundHigh, .undiscoveredHigh {
	flex-direction: column;
	justify-content: space-between;
	color: whitesmoke;
	border-radius: 10px;
	width: 50%;
	text-shadow: 2px 2px 2px black;
}
.foundHigh {
	background: linear-gradient(-45deg, rgb(46, 66, 50), rgb(120, 158, 130), rgb(46, 66, 47), rgb(46, 66, 50));
	background-size: 1000% 100%;
	animation: gradient 15s ease infinite;
}
.undiscoveredHigh {
	background: linear-gradient(-45deg, rgb(70, 72, 73), rgb(158, 158, 158), rgb(68, 68, 68), rgb(58, 58, 58));
	background-size: 1000% 100%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 100%;;
	}
	50% {
		background-position: 100% 50%;;
	}
	100% {
		background-position: 0% 100%;;
	}
}
.inRoom {
	background-color: white;
	/* svg gotten from https://freesvg.org/room-interior */
	background-image: url('./saladeestar.svg');
	background-size: cover;
	border: 2px solid darkgrey;
	border-radius: 10px;
	min-height: 40vh;
	height: fit-content;
}
.inRoom:hover {
	cursor: pointer;
	border: 2px solid green;
}
.currentUser {
	font-size: 2rem;
	text-shadow: 2px 2px 2px whitesmoke;
	background-color: lightgray;
	margin-top: 5%;
}
footer {
	background-color: rgb(36, 36, 36);
	margin-top: 10%;
}
footer a {
	color: whitesmoke;
}

/* logo */
.searchLogo {
	height: 20vmin;
	margin: 10%;
	filter: drop-shadow(1px 1px 1px rgba(0, 155, 21, 0.726)) drop-shadow(12px 6px 12px rgba(55, 114, 58, 0.726)) ;
}
@media (prefers-reduced-motion: no-preference) {
	.searchLogo {
		animation: searchMove infinite 5s linear;
	}
}
@keyframes searchMove {
	0% {
		transform: rotate(-15deg) scale(1, 1);
	}
	25% {
		transform: rotate(0deg) scale(0.85, 0.85);
	}
	50% {
		transform: rotate(15deg) scale(1, 1);
	}
	75% {
		transform: rotate(0deg) scale(0.85, 0.85);
	}
	100% {
		transform: rotate(-15deg) scale(1, 1);
	}
}

/* MEDIA QUERIES */
@media (max-width: 500px) {
	*, * header, * .foundit, * .information, * p {
		font-size: 1rem;
		flex-direction: column;
		width: 100%;
		margin: 0;
	}
	body {
		width: 96%;
		margin: 0 2%
	}
	h1 {
		font-size: 2rem;
	}
	p.currentUser {
		font-size: 1rem;
	}
	.foundHigh p, .undiscoveredHigh p {
		margin: 0;
		padding: 0;
	}
	.searchLogo {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 700px) {
	.undiscoveredHigh h2, .foundHigh h2 {
		font-size: 1rem;
	}
	.undiscoveredHigh p, .foundHigh p {
		margin: 0;
		padding: 0;
	}
}

@media (max-width: 900px) {
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: 1440px) {
	body {
		width: 1440px;
		margin: auto;
	}
}